In [1]:
# Function to print all combinations of pairs of integers in a unique list

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
li = [1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [2]:
# For combinations of three
# [1,2,3,4] -> 1,2,3  1,2,4  1,3,4  2,3,4
def combinationsOfThree(li):
    for i in range(len(li) - 2):
        for j in range(i+1,len(li) - 1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li = [1,2,3,4,5]
combinationsOfThree(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [3]:
# [1,2,3] ->[1,2,3]

def medium(li,k):
    count = 1
    while(True):
        li3 = differencePairs(li)
            #count += 1
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse = True)[k-1]
    else:
        return -1
    #return li3[0]

def differencePairs(li):
    cli = li[:]
    newelements = []
    for i in range(len(li) - 1):
        for j in range(i+1,len(li)):
            d = abs(li[i] - li[j])
            if (d not in li) and (d not in newelements):
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li = [1,9]
medium(li,2)

8

In [1]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert list in to arithematic Progression

[3, 6, 9, 12]

In [ ]:
def differencePairs(li):
    c = li.copy()
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return

### Set -Data Structures in Python
- Represented by {}
- Set is iterable and mutable

In [10]:
a = {1,2,3,4,5,6}
a.add(7) # add is a function & adding a single element to a set
# Acessing elements
for i in a:
    print(i,end = " ")
    
b = {8,9,10,1,2,3}
li = [11,12,13,1]
a.update(b,li) # Adding multiple elements
a
a.discard(13) # Remove elements in set
a

1 2 3 4 5 6 7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [20]:
a = {1,2,3,4,5,6}
b = {8,9,10,1,2,3}
a.union(b)
a = {1,2,3,4,5,6}
b = {8,9,10,1,2,3}
a.intersection(b)
# disjoint --> means if both sets not having any common elements then it returns True, else returns False.
a.isdisjoint(b)
a = {1,2,3}
b = {4,5,6}
a.isdisjoint(b)
a = {1,2,5,7,9,11}
b = {6,9,10}
c = {111,119}
a - b # equal to elements present in a not in b
b - a # equal to elements present in a not in b

{6, 10}

In [21]:
d = set()
d

set()

In [22]:
li = [1,2,3,4,5,1,1,3,5]
u = set(li)# Remove the repetetive elements
u

{1, 2, 3, 4, 5}

In [23]:
Procedural : c
Object Oriented : Java,Python
Scripting : PHP,pytho,Javascript,
Functional : Python,Haskell,Scala
Logic : Prolog,Lisp

SyntaxError: invalid syntax (<ipython-input-23-b6f670bdbcce>, line 2)

### List Comprehensions

In [25]:
# N natural numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# Apply list comprehension to store the cubes of n natural numbers
li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
# Function to calculate the factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)
# Apply list comprehension to calculate factorail of n natural numbers
n = 10
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [5]:
# Store cumulative sum of numbers till n in a list
# n = 3 [1,2,3 --> 6]
# n = 5 -> [1,3,6,10,15]
n = 6
cs = [sum(range(1,i+1)) for i in range(1,n+1)]
cs

[1, 3, 6, 10, 15, 21]

In [13]:
#  List Comprehension to store only leap years in a given time period
st = 1970
et = 2019
leapYears = [i for i in range(st,et+1)if ((i % 400 == 0) or (i % 4 ==0)) and (i % 100 !=0)]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2004, 2008, 2012, 2016]

In [20]:
# Extract unique elements in list by using list comprehension
li =[1,2,3,2,1,4,4,5,5,5]
u2 = []
unique = []
unique = [u2.append(i) for i in li if i not in u2]
#unique = [i for i in range(0,len(li)) if sorted(li)[i] != sorted(li)[i]]
u2

[1, 2, 3, 4, 5]

### Iterators
- Iterable : Strings,Lists,Tuples,Sets,Dictionaries
- To Convert Iterable to Iterator use a function called iter()
- For Loop: 
- Iterator : Stop iteration at any point and starts whenever we want,Only possible in functional Programming

In [33]:
it = iter("Python")
print('1:')
print(next(it))
#print('\n')
print('2:')
print(next(it))

1:
P
2:
y

### Generators
- Generator is a user defined function

In [42]:
def generator():
    n = 2
    while True:
        n **= 3
        yield n
    
a = generator()
for i in range(5):
    print(next(a))
#b = next(a)**
#next(a)
#next(a)

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208